.header-top a {
  font-size: 0.8rem; /* veya 14px */
  color: #6c757d;
  text-decoration: none;
}

.header-top a:hover {
  color: #000;
}

.category-menu a {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  color: #333;
  text-decoration: none;
}

.category-menu a:hover {
  color: orange;
}


.logo {
  font-size: 2.2rem;
  font-weight: 600;
}

.logo span {
  color: orange;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.all-categories {
  font-weight: 600;
  color: #333;
  text-decoration: none;
  font-size: 0.75rem;
}
